<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicken Stop - Check Out</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'style.css' %}">
</head>
<body>
    <div class='container'>
        <div class='header'>
            <h1><a href='/orders'>Chicken Stop</a></h1>
            <div class='nav'>
                <ul>
                    <li><a href='/orders'>Home</a></li>
                    <li><a href='/orders/order'>Order</a></li>
                    <li><a href='/orders/account'>Account</a></li>
                    <li><a href='/logout'>Log Out</a></li>
                </ul> 
            </div>
        </div>
        <div class='checkout_form'>
            <h2>Your Order</h2>
            <h4><em>Your Sandwich:</em></h4>
            <p>{{request.session.sandwich}}</p>
            <h4><em>Side of Pickles:</em></h4> 
            <p>{{request.session.pickles}}</p>
            <h4><em>Your Free Side:</em></h4> 
            <p>{{request.session.side}}</p>
            <br>
            <h2>Your Total: $8</h2>
            <form action='/orders/complete_order' method='POST'>
            {% csrf_token %}
                <input type='hidden' name='sandwich' value='{{request.session.sandwich}}'>
                <input type='hidden' name='pickles' value='{{request.session.pickles}}'>
                <input type='hidden' name='side' value='{{request.session.side}}'>
                <button type='submit'>Complete Order</button>
            </form>
            <br>
            <p><a href='/orders/order'>Go Back</a></p>
        </div>
    </div>
</body>
</html>